.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    border-radius: 20px;
    background-color: #ffffff;
    width: 50%;
    overflow: hidden;
}

.cardHeader img {
    width: 100%;
    height: auto;
}

.cardBody {
    padding: 1rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.button {
    background-color: orange;
    color: #ffffff;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.tags{
    margin-right: 5px;
    color: #ffffff; 
}

.tag {
    padding: 10px;
    margin-right: 10px;
    background-color: #87cefa;
    border-radius: 5px;
}

.tag-html {
    background-color: #008000;
}

.tag-css {
    background-color: #ffc0cb;
}

.tag-js {
    background-color: #8a2be2;
}

.tag-react {
    background-color: #9acd32;
}

