.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    border-radius: 20px;
    background-color: #ffffff;
    width: 50%;
    overflow: hidden;
}

.cardHeader img {
    width: 100%;
    height: auto;
}

.cardBody {
    padding: 1rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.button {
    background-color: orange;
    color: #ffffff;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}